@charset "UTF-8";

@media  screen and (max-width:799px) {
    #naodiminui{
        display: block;
        width: 80vw;
    }

    #navegacao{
        display: none;
    }

    #conteiner_conteudo{
        display: none;
    }

    #conteiner_conteudo_blocos{
        display: none;
    }
}