@charset "UTF-8";
/*configs gerais*/
*{
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;

    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

p{
    text-align: justify;
}
/* // */

body{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;

    background-image: linear-gradient(45deg, white, gray, white, gray);
}

/* // */

/* parte para resolução de tela */

#naodiminui{
    display: none;
}

/* // */

/*apresentacao*/
/*area menu navegacao*/
#navegacao{
    display: flex;

    height: 760px;
}

#navegacao ul{ /*para inverter as abas*/
    display: flex;
    flex-direction: row-reverse;


    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

#navegacao ul li{
    list-style-type: none;
}

#navegacao ul li a{
    padding: 20px 10px 20px 0px;

    background-color: #5038A6;
    border: 1px solid black;
    border-radius: 0px 10px 10px 0px;

    font-weight: bolder;
    font-size: 1.05em;

    text-decoration: none;

    color: white;

    transition: .5s;
}

#navegacao a:hover{
    background-color: #5038a6bd;
}

#apresentacao #navegacao .apresentacao a,
#curriculo #navegacao .curriculo a,
#projetos #navegacao .projetos a,
#certificados #navegacao .certificados a{/*estilos pra seleção das abas*/
    background-color: white;
    color: #5038A6;
}
/* // */

/* apresentacao */
#conteiner_conteudo{
    background-color: white;

    width: 720px;
    height: 760px;

    border-radius: 0px 20px 20px 20px;

    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.521);

    overflow: hidden;
}

h1{
        padding: 10px;
    
        font-weight: 700;
    
        color: #5038A6;
        background-color: rgba(128, 128, 128, 0.582);
    
        text-align: center;
    
        box-shadow: 1px 1px 8px #5038A6;
}

h2{
    padding: 10px 0px 10px 20px;
    
    font-weight: 700;
    
    color: #5038A6;
}

p{
    font-weight: bolder;
    font-size: 1.1em;

    padding: 0px 20px 20px 20px;
}


#conteiner_conteudo > div > img{
    border-radius: 50%;
    margin: 20px 0px 0px 20px;
}

.p_especial{
    display: inline;
    padding-top: 0px;
}

.p_especial a{
    text-decoration: none;
    color: #5038A6;
}

.p_especial a:hover{
    text-shadow: 1px 1px 5px black;
}

/* // */

/*curriculo*/
.p_roxo{
    color: #5d41c5;
}

.download_curriculo{
    text-align: center;
    color: #5d41c5;
}

.download_curriculo a:hover{
    text-shadow: 1px 1px 5px black;
}

/* // */

/*projetos*/
#conteiner_conteudo_blocos{
    background-color: white;

    width: 720px;
    height: 760px;

    border-radius: 0px 20px 20px 20px;

    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.521);

    overflow: hidden;
}

.projetosCards{
    margin: 20px;
}

#conteiner_conteudo_blocos img{
    width: 300px;

    border-radius: 20px;
    border: 2px groove #5038A6;

    transition: .5s;
}

#conteiner_conteudo_blocos img:hover{
    transform: translate(0%, -3%);

    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.596);
}

#conteiner_prints{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

